#column
  = render :haml, :'workflows/_column'

#workspace
  .scrollable{:style => "height: #{@workflow.tasks_height}px; width: #{@workflow.tasks_width}px;"}
    - @workflow.tasks.each do |task|
      .task{:style => "top: #{task.top}px; left: #{task.left}px;", "data-url" => "/workflows/#{@workflow.id}/tasks/#{task.id}/position"}
        = task.name
        
:javascript
  $(document).ready(function() {
    $(".task").draggable({
      stop: function(event, ui) { 
        var element = event.target;
        $.ajax($(element).data('url') + '?x=' + (element.offsetLeft + 3) + '&y=' + element.offsetTop)
      }
    });
  });
