!!!
%html
  %head
    %title= @title || SiteConfig.title
    %script{:type => "text/javascript", :src => "/jquery-1.6.2.min.js"}
    %script{:type => "text/javascript", :src => "/jquery-ui-1.8.16.custom.min.js"}
    %link{:href => '/application.css', :rel => 'stylesheet', :type => 'text/css'}
  %body
    #container
      #header
        #logo
          %h1
            %a{:href => '/'}= SiteConfig.title
      #content= yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"
